.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.link {
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.disabled {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}