.pagination {
  display: flex;
  align-items: center;
  column-gap: 25px;
  min-height: 40px;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.page-item {
  height: 30px;
  text-align: center;
}

.page-link {
  position: relative;
  font-size: 24px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}


.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #1677ff;
}

.icon {
  width: 30px;
  height: 30px;
}