.item {
  border-bottom: 1px solid var(--ion-color-light);
  --padding-start: 1rem;
  --padding-end: 1rem;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  padding: 0.5rem 1rem;
  min-height: 5rem;
  width: 100%;
}

.label {
  margin-left: 20px;
}

.item img {
  width: 3rem;
  height: 70px;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid #e7edfb;
}

.item h2 {
  font-weight: 600;
  letter-spacing: -0.02rem;
}

.employeeItem p {
  letter-spacing: -0.03rem;
}


.title {
  text-align: center;
  margin-top: 15px;
}

